<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Category</th>
      <th>Budget</th>
      <th># of Burritos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of budget; let i = index">
      <td>{{i}}</td>
      <td><input type="text" (ngModel)="b.name">{{b?.name}}</td>
      <td><input type="text" (ngModel)="b.category.name">{{b?.category.name}}</td>
      <!-- <td><input type="text" #cost="ngModel" name="cost" (ngModel)="b.cost"></td> -->
      <!-- <td>{{expense?.cost * 9.5}}</td> -->
    </tr>
  </tbody>
</table>
<button class="btn btn-md btn-default pull-right" (click)="showTable()" role="button">Reset</button>